.game-window {
  position: relative;
}

#background {
  z-index: -1;
  position: absolute;
  margin: auto;
  width: 900px;
  height: 500px;
}

#welcome-window {
  position: absolute;
  left: 200px;
  top: 100px;
  background: #CCFF66;
  opacity: 0.9;
  width: 460px;
  height: 260px;
  padding: 20px;
  text-align: center;
  font-family: System, sans-serif;
  color: #333;
  border: 3px solid #aaa;
  border-radius: 20px;
  transition: opacity 0.5s linear;
}

#start-button {
  margin-top: 50px;
  width: 100px;
  border: 3px solid #aaa;
  background: #ccc;
  font-size: 16px;
  transition: box-shadow 0.3s linear;
  cursor: pointer;
  border-radius: 10px;
}

button:hover {
  box-shadow: -2px 2px 5px 0px #333;
}
